#subject-list {
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
}

#subject-list h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
    margin: 0;
}

#subject-list > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}