th .history_row {
    height: 24px;
}

tr .history_row {
    height: 32px;
}

.history_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1010px;
    height: 40px;

    background: #FFFFFF;

    box-shadow: inset 0px -1px 0px #EEEFF5;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.history_row .players_colomn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    padding: 8px;
    gap: 10px;

    width: 662px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.history_row .date_colomn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;

    width: 144px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.history_row .gameTimeColomn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;

    width: 124px;

    flex: none;
    order: 2;
    flex-grow: 0;
}