.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*transform: scale(0);*/
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.active {
    /*transform: scale(1);*/
    opacity: 1;
    pointer-events: all;
}

.modal-winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px 40px;
    gap: 20px;

    position: relative;
    width: 352px;
    height: 348px;

    background: #FFFFFF;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.show{
    transform: scale(1);
}

.add-text {
    width: 352px;
    height: 36px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    margin: 0;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #373745;

    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.class-close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: center;
    padding: 0px;
    gap: 10px;

    width: 352px;
    height: 24px;

    flex: none;
    flex-grow: 0;
}

.class-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.label-name-class {

    height: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 0.24px;

    color: #373745;

    flex: none;
    flex-grow: 0;
}

.label-age-class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 104px;
    height: 80px;

    flex: none;
    flex-grow: 0;
}

.age-gender-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 352px;
    height: 80px;

    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.radio-set {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 104px;
    height: 48px;

    flex: none;
    flex-grow: 0;
}