.msg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    max-width: 352px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
    box-sizing: border-box;
    align-self: flex-start;
    border-radius: 16px 16px 16px 0px;
    width: 352px;
}

.msg-container.me {
    box-sizing: border-box;
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
    width: 352px;
}

.msg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.subject-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.subject-name.x {
    color: #60C2AA;
}

.subject-name.zero {
    color: #E38BAC;
}

.msg-header .time {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}

.msg-interactive-elements {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
    gap: 12px;
    width: 100%;
    height: 48px;
}

.msg-interactive-elements button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    width: 48px;
    height: 48px;
    background: #60C2AA;
    border-radius: 12px;
}

.msg-interactive-elements textarea {
    resize: none;
    width: 352px;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}